site_name: My Embedded Book
site_url: https://<your-username>.github.io/my-book
repo_url: https://github.com/<your-username>/my-book
theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - content.code.copy
    - content.tabs.link
    - toc.follow # mantém o TOC visível ao rolar
  logo: assets/hanze_logo.png
  # favicon: assets/favicon.ico
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
plugins:
  - search
  - mermaid2
nav:
  - Home: index.md
  - Introduction: intro.md
  - Chapters:
      - Chapter 1: chapter-1.md
      - Workshop 1 - Setting up the Arduino IDE. Hello World: tutorials/tutorial1/ReadMe.md
      # - [Workshop 2](./tutorials/tutorial2/ReadMe.md) - Flowcharts, if-else, while.
      # - [Workshop 3](./tutorials/tutorial3/ReadMe.md) - Variables, Data types, If and Loops.
      # - [Workshop 4](./tutorials/tutorial4/ReadMe.md) - UART and ADC.
      # - [Workshop 5](./tutorials/tutorial5/ReadMe.md) - Functions, Libraries, Interrupts, Timers
      # - [Workshop 6](./tutorials/tutorial6/ReadMe.md) - Kitchen Timer.
      # - [Workshop 7](./tutorials/tutorial7/ReadMe.md) - I2C protocol and State Machine.
strict: false # trocar para true no futuro
