site_name: Embedded Programming 2025-2026
site_url: https://costawess.github.io/EmbeddedProgramming-Course/
repo_url: https://github.com/costawess/EmbeddedProgramming-Course
theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - content.code.copy
    - content.tabs.link
    - toc.follow # mantém o TOC visível ao rolar
  logo: assets/hanze_logo.png
  # favicon: assets/favicon.ico
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
plugins:
  - search
  - mermaid2
nav:
  - Home: index.md
  - Introduction: intro.md
  - Chapters:
      - Chapter 1: chapter-1.md
      - Workshop 1 - Setting up the Arduino IDE. Hello World: tutorials/tutorial1/ReadMe.md
      - Workshop 2 - Flowcharts, if-else, while: tutorials/tutorial2/ReadMe.md 
      - Workshop 3 - Variables, Data types, If and Loops.: tutorials/tutorial3/ReadMe.md
      - Workshop 4 - UART and ADC.: tutorials/tutorial4/ReadMe.md
      - Workshop 5 - Functions, Libraries, Interrupts, Timers: tutorials/tutorial5/ReadMe.md
      - Workshop 6 - Kitchen Timer.: tutorials/tutorial6/ReadMe.md
      - Workshop 7 - I2C protocol and State Machine: tutorials/tutorial7/ReadMe.md
strict: false # trocar para true no futuro
